:root {
    --headtag-prefix-color: #ffffff;
}

.color-0 {color: #ecf0f1;}
.color-1 {color: #e67e22;}
.color-2 {color: #2ecc71;}
.color-3 {color: #f1c40f;}
.color-4 {color: #2980b9;}
.color-5 {color: #3498db;}
.color-6 {color: #9b59b6;}
.color-8 {color: #e74c3c;}
.color-9 {color: #c0392b;}

.gameColor-w {color: #ffffff;}
.gameColor-r {color: #ff4444;}
.gameColor-g {color: #99cc00;}
.gameColor-y {color: #ffbb33;}
.gameColor-b {color: #33b5e5;}
.gameColor-p {color: #9b59b6;}
.gameColor-o {color: #ff851b;}


.headtag-prefix {
    position: fixed;
    top: 20px;
    right: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: var(--headtag-prefix-color);
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); lowkey looks fuggin ugly */
}

.headtag-text {
    color: #ffffff;
}